.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(219, 219, 219);
  background-color: white;
  height: 55px;
}
.left-section {
  display: flex;
  /* background-color: lightblue; */
  /* width: 150px; */
  align-items: center;
}
.middle-section {
  /* background-color: lightpink; */
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  max-width: 500px;
}
.right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  width: 180px;
}
.search-bar {
  flex: 1;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 2px;
  padding-left: 12px;
  width: 10;
  height: 30px;
  font-size: 16px;
}
.search-bar::placeholder {
  font-size: 16px;
}
.hamburger-menu {
  margin-right: 20px;
  margin-left: 20px;
  height: 20px;
}
.youtube-logo {
  height: 20px;
}
.search-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: -1px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 2px;
  width: 60px;
  height: 34px;
}
.search-icon {
  width: 22px;
  height: 22px;
}
.voice-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  background-color: rgb(220, 220, 220);
  width: 34px;
  height: 34px;
}
.voice-search-icon {
  width: 22px;
  height: 22px;
}

.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 34px;
  height: 34px;
}
.upload-icon {
  width: 22px;
  height: 22px;
}

.youtube-apps-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 34px;
  height: 34px;
}
.youtube-apps-icon {
  width: 22px;
  height: 22px;
}

.notification-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 34px;
  height: 34px;
}
.notification-icon {
  width: 22px;
  height: 22px;
}
.my-channel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(255, 255, 255);
  width: 34px;
  height: 34px;
}
.my-channel-icon {
  border-radius: 20px;
  width: 22px;
  height: 22px;
}
.notification-container {
  position: relative;
}
.notification-count {
  position: absolute;
  top: -2px;
  right: -2px;
  border-radius: 10px;
  background-color: red;
  padding-top: 1px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
  width: 10px;
  color: white;
  font-size: 11px;
}
.search-button .tooltips,
.voice-search-button .tooltips {
  display: flex;
  position: absolute;
  bottom: -30px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 100;
  transition: opacity 0.5s;
  border-radius: 2px;
  background-color: rgb(95, 95, 95);
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  pointer-events: none;
  color: white;
  font-size: 13px;
}
.search-button:hover .tooltips,
.voice-search-button:hover .tooltips {
  opacity: 1;
}
