.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 76px;
}
.sidebar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-right: 8px;
  padding-left: 8px;
  width: 60px;
  height: 80px;
}
.sidebar-link:hover {
  background-color: rgb(230, 230, 230);
}
.sidebar-link img {
  display: block;
  margin-bottom: 6px;
  height: 24px;
}
.sidebar-link div {
  display: block;
  font-size: 11px;
  font-family: Roboto, Arial;
}
