/* containter for each card */
.video-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 50px;
}

@media (max-width: 700px) {
  .video-container-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 701px) and (max-width: 999px) {
  .video-container-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-container-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* container for video thumbnail */
.video-thumbnail-container {
  position: relative;
  /* add bottom margin for video thumbnail */
  margin-bottom: 12px;
}
.video-thumbnail {
  width: 100%;
}
/* container for channel pic and video description */
.video-info-grid {
  display: grid;
  /* 50px for image, the rest text */
  grid-template-columns: 50px 1fr;
}
.profile-pic {
  border-radius: 50px;
  width: 80%;
}
.video-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.video-author,
.video-stats {
  color: grey;
  font-size: 14px;
}
.video-time {
  display: flex;
  position: absolute;
  right: 5px;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: black;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  color: white;
  font-weight: 500;
  font-size: 14spx;
  font-family: Roboto, Arial;
}
